<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Austin Housing Polynomial Regression</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Austin Housing Polynomial Regression</h1>
            <br />
            <div class="row justify-content-start">
                This is the prediction {{yPredicted}}
                <br/>
                This is the true value {{y_true}}
                <br/>
                This is the x value {{x}}
                <br/>
                This is the index {{index}}
                <div class="col-sm" >
                    <form action="{% url 'polyregress' %}" >
                        <button class="btn btn-secondary">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>